# Feature from User_Logs Table

In [1]:
import pandas as pd

In [2]:
## Loading 10M rows 
user_logs = pd.read_csv("user_logs.csv",nrows=10000000)

In [3]:
user_logs

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,rxIP2f2aN0rYNp+toI0Obt/N/FYQX8hcO1fTmmy2h34=,20150513,0,0,0,0,1,1,280.335
1,rxIP2f2aN0rYNp+toI0Obt/N/FYQX8hcO1fTmmy2h34=,20150709,9,1,0,0,7,11,1658.948
2,yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=,20150105,3,3,0,0,68,36,17364.956
3,yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=,20150306,1,0,1,1,97,27,24667.317
4,yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=,20150501,3,0,0,0,38,38,9649.029
...,...,...,...,...,...,...,...,...,...
9999995,v/R+WvijIcCxHtmlhVHvncyqOj9RIBYfmMgMw+xU8mA=,20160826,0,0,0,0,6,5,1680.650
9999996,v/R+WvijIcCxHtmlhVHvncyqOj9RIBYfmMgMw+xU8mA=,20161106,4,0,1,1,15,21,3948.976
9999997,v/R+WvijIcCxHtmlhVHvncyqOj9RIBYfmMgMw+xU8mA=,20170208,25,16,9,0,0,38,3191.037
9999998,18Qenx1Wm/USp1MVuVvh9QXNZGH/aEFP4DE2BRh5hT4=,20150115,1,0,0,0,11,12,2673.537
9999999,18Qenx1Wm/USp1MVuVvh9QXNZGH/aEFP4DE2BRh5hT4=,20150810,18,1,0,1,15,25,4274.140

In [4]:
train = pd.read_csv("train.csv")

In [5]:
train

                                                msno  is_churn
0       waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=         1
1       QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=         1
2       fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=         1
3       mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=         1
4       XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=         1
...                                              ...       ...
992926  tUM0yxAj50Vc35vQZ++xMlomdyeLJUW9lEcoPnt3H+g=         0
992927  KQS8etmfGgvE/7Y9gK+E9wdLnRTI0lyyPXaXL3I8E4c=         0
992928  8/jDLgNREuWI9hcKVYp8723nmavn01T+AuMWkK3uM7g=         0
992929  iNV99F1Rml7EMndOeLI0Y/iek6aCj/Qp1Z4dZvR+sak=         0
992930  ZoVEIVMCpKT9/MJgqO+fh9xYrNM2vNisLhJ4xY/CVyk=         0

[992931 rows x 2 columns]

In [6]:
user_log_train = pd.merge(user_logs,train,on='msno',how='left')

In [7]:
user_log_train

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs,is_churn
0,rxIP2f2aN0rYNp+toI0Obt/N/FYQX8hcO1fTmmy2h34=,20150513,0,0,0,0,1,1,280.335,NaN
1,rxIP2f2aN0rYNp+toI0Obt/N/FYQX8hcO1fTmmy2h34=,20150709,9,1,0,0,7,11,1658.948,NaN
2,yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=,20150105,3,3,0,0,68,36,17364.956,0.0
3,yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=,20150306,1,0,1,1,97,27,24667.317,0.0
4,yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=,20150501,3,0,0,0,38,38,9649.029,0.0
...,...,...,...,...,...,...,...,...,...,...
9999995,v/R+WvijIcCxHtmlhVHvncyqOj9RIBYfmMgMw+xU8mA=,20160826,0,0,0,0,6,5,1680.650,0.0
9999996,v/R+WvijIcCxHtmlhVHvncyqOj9RIBYfmMgMw+xU8mA=,20161106,4,0,1,1,15,21,3948.976,0.0
9999997,v/R+WvijIcCxHtmlhVHvncyqOj9RIBYfmMgMw+xU8mA=,20170208,25,16,9,0,0,38,3191.037,0.0
9999998,18Qenx1Wm/USp1MVuVvh9QXNZGH/aEFP4DE2BRh5hT4=,20150115,1,0,0,0,11,12,2673.537,NaN
9999999,18Qenx1Wm/USp1MVuVvh9QXNZGH/aEFP4DE2BRh5hT4=,20150810,18,1,0,1,15,25,4274.140,NaN

In [8]:
user_log_before_jan = user_log_train[user_log_train['date'].le(20161231)]

In [9]:
user_log_before_jan

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs,is_churn
0,rxIP2f2aN0rYNp+toI0Obt/N/FYQX8hcO1fTmmy2h34=,20150513,0,0,0,0,1,1,280.335,NaN
1,rxIP2f2aN0rYNp+toI0Obt/N/FYQX8hcO1fTmmy2h34=,20150709,9,1,0,0,7,11,1658.948,NaN
2,yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=,20150105,3,3,0,0,68,36,17364.956,0.0
3,yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=,20150306,1,0,1,1,97,27,24667.317,0.0
4,yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=,20150501,3,0,0,0,38,38,9649.029,0.0
...,...,...,...,...,...,...,...,...,...,...
9999994,v/R+WvijIcCxHtmlhVHvncyqOj9RIBYfmMgMw+xU8mA=,20160623,1,1,0,1,4,7,1448.123,0.0
9999995,v/R+WvijIcCxHtmlhVHvncyqOj9RIBYfmMgMw+xU8mA=,20160826,0,0,0,0,6,5,1680.650,0.0
9999996,v/R+WvijIcCxHtmlhVHvncyqOj9RIBYfmMgMw+xU8mA=,20161106,4,0,1,1,15,21,3948.976,0.0
9999998,18Qenx1Wm/USp1MVuVvh9QXNZGH/aEFP4DE2BRh5hT4=,20150115,1,0,0,0,11,12,2673.537,NaN
9999999,18Qenx1Wm/USp1MVuVvh9QXNZGH/aEFP4DE2BRh5hT4=,20150810,18,1,0,1,15,25,4274.140,NaN

In [10]:
## Sum 
user_log_num25_sum = user_log_before_jan.groupby(['msno'])['num_25'].sum()
user_log_num50_sum = user_log_before_jan.groupby(['msno'])['num_50'].sum()
user_log_num75_sum = user_log_before_jan.groupby(['msno'])['num_75'].sum()
user_log_num985_sum = user_log_before_jan.groupby(['msno'])['num_985'].sum()
user_log_num100_sum = user_log_before_jan.groupby(['msno'])['num_100'].sum()
user_log_num_unq_sum = user_log_before_jan.groupby(['msno'])['num_unq'].sum()
user_log_total_sec_sum = user_log_before_jan.groupby(['msno'])['total_secs'].sum()

In [11]:
## Saving all the values to pickle file 
user_log_num25_sum.to_pickle('user_log_num25_sum.pkl')
user_log_num50_sum.to_pickle('user_log_num50_sum.pkl')
user_log_num75_sum.to_pickle('user_log_num75_sum.pkl')
user_log_num985_sum.to_pickle('user_log_num985_sum.pkl')
user_log_num100_sum.to_pickle('user_log_num100_sum.pkl')
user_log_num_unq_sum.to_pickle('user_log_num_unq_sum.pkl')
user_log_total_sec_sum.to_pickle('user_log_total_sec_sum.pkl')

In [12]:
# Count will be same for num_25,num_75 etc.
user_log_num_count = user_log_before_jan.groupby(['msno'])['num_25'].count()
user_log_num_count.to_pickle('user_log_num_count.pkl')

In [13]:
## Calculating the Standard Deviation 
user_log_num25_std = user_log_before_jan.groupby(['msno'])['num_25'].std()
user_log_num50_std = user_log_before_jan.groupby(['msno'])['num_50'].std()
user_log_num75_std = user_log_before_jan.groupby(['msno'])['num_75'].std()
user_log_num985_std = user_log_before_jan.groupby(['msno'])['num_985'].std()
user_log_num100_std = user_log_before_jan.groupby(['msno'])['num_100'].std()
user_log_num_unq_std = user_log_before_jan.groupby(['msno'])['num_unq'].std()
user_log_total_sec_std = user_log_before_jan.groupby(['msno'])['total_secs'].std()

In [14]:
## Saving all the values in Pickle file 
user_log_num25_std.to_pickle('user_log_num25_std.pkl')
user_log_num50_std.to_pickle('user_log_num50_std.pkl')
user_log_num75_std.to_pickle('user_log_num75_std.pkl')
user_log_num985_std.to_pickle('user_log_num985_std.pkl')
user_log_num100_std.to_pickle('user_log_num100_std.pkl')
user_log_num_unq_std.to_pickle('user_log_num_unq_std.pkl')
user_log_total_sec_std.to_pickle('user_log_total_sec_std.pkl')

In [15]:
## Calculating the average by using sum and count 
user_log_num25_avg = user_log_num25_sum/user_log_num_count 
user_log_num50_avg = user_log_num50_sum/user_log_num_count 
user_log_num75_avg = user_log_num75_sum/user_log_num_count 
user_log_num985_avg = user_log_num985_sum/user_log_num_count 
user_log_num100_avg = user_log_num100_sum/user_log_num_count 
user_log_num_unq_avg = user_log_num_unq_sum/user_log_num_count 
user_log_total_sec_avg = user_log_total_sec_sum/user_log_num_count

In [16]:
user_log_num25_avg = user_log_num25_avg.to_frame()
user_log_num25_avg = user_log_num25_avg.rename(columns={'num_25':'num_25_avg'})
user_log_num50_avg = user_log_num50_avg.to_frame()
user_log_num50_avg = user_log_num50_avg.rename(columns={'num_50':'num_50_avg'})
user_log_num75_avg = user_log_num75_avg.to_frame()
user_log_num75_avg = user_log_num75_avg.rename(columns={'num_75':'num_75_avg'})
user_log_num985_avg = user_log_num985_avg.to_frame()
user_log_num985_avg = user_log_num985_avg.rename(columns={'num_985':'num_985_avg'})
user_log_num100_avg = user_log_num100_avg.to_frame()
user_log_num100_avg = user_log_num100_avg.rename(columns={'num_100':'num_100_avg'})
user_log_num_unq_avg = user_log_num_unq_avg.to_frame()
user_log_num_unq_avg = user_log_num_unq_avg.rename(columns={'num_unq':'num_unq_avg'})
user_log_total_sec_avg = user_log_total_sec_avg.to_frame()
user_log_total_sec_avg = user_log_total_sec_avg.rename(columns={'total_sec':'total_sec_avg'})

In [17]:
## Saving all the average values to the pickle file 
user_log_num25_avg.to_pickle('user_log_num25_avg.pkl') 
user_log_num50_avg.to_pickle('user_log_num50_avg.pkl')
user_log_num75_avg.to_pickle('user_log_num75_avg.pkl')
user_log_num985_avg.to_pickle('user_log_num985_avg.pkl')  
user_log_num100_avg.to_pickle('user_log_num100_avg.pkl')
user_log_num_unq_avg.to_pickle('user_log_num_unq_avg.pkl')
user_log_total_sec_avg.to_pickle('user_log_total_sec_avg.pkl')

In [18]:
final_data_user_logs = pd.merge(user_log_num25_sum,user_log_num25_std,on='msno')

In [19]:
final_data_user_logs = pd.merge(final_data_user_logs,user_log_num25_avg,on='msno')
final_data_user_logs = pd.merge(final_data_user_logs,user_log_num_count,on='msno')

In [20]:


final_data_user_logs = pd.merge(final_data_user_logs,user_log_num50_sum,on='msno')
final_data_user_logs = pd.merge(final_data_user_logs,user_log_num50_std,on='msno')

In [21]:


final_data_user_logs = pd.merge(final_data_user_logs,user_log_num75_sum,on='msno')
final_data_user_logs = pd.merge(final_data_user_logs,user_log_num75_std,on='msno')

In [22]:

final_data_user_logs = pd.merge(final_data_user_logs,user_log_num985_sum,on='msno')
final_data_user_logs = pd.merge(final_data_user_logs,user_log_num985_std,on='msno')

In [23]:

final_data_user_logs = pd.merge(final_data_user_logs,user_log_num_unq_sum,on='msno')
final_data_user_logs = pd.merge(final_data_user_logs,user_log_num_unq_std,on='msno')

In [24]:

final_data_user_logs = pd.merge(final_data_user_logs,user_log_total_sec_sum,on='msno')
final_data_user_logs = pd.merge(final_data_user_logs,user_log_total_sec_std,on='msno')

In [25]:
final_data_user_logs = pd.merge(final_data_user_logs,user_log_total_sec_avg,on='msno')
final_data_user_logs = pd.merge(final_data_user_logs,user_log_num_unq_avg,on='msno')
final_data_user_logs = pd.merge(final_data_user_logs,user_log_num25_avg,on='msno')
final_data_user_logs = pd.merge(final_data_user_logs,user_log_num50_avg,on='msno')
final_data_user_logs = pd.merge(final_data_user_logs,user_log_num75_avg,on='msno')
final_data_user_logs = pd.merge(final_data_user_logs,user_log_num985_avg,on='msno')
final_data_user_logs = pd.merge(final_data_user_logs,user_log_num100_avg,on='msno')

In [26]:
final_data_user_logs = pd.merge(final_data_user_logs,user_log_num_count,on='msno')

In [27]:
final_data_user_logs = pd.merge(final_data_user_logs,user_logs,on='msno')

In [28]:
final_data_user_logs = final_data_user_logs.dropna()

In [29]:
final_data_user_logs.to_csv('final_data_user_logs.csv')

In [30]:
final_data_user_logs.shape

(9482678, 31)

In [31]:
final_data_user_logs

,msno,num_25_x,num_25_y,num_25_avg_x,num_25_x,num_50_x,num_50_y,num_75_x,num_75_y,num_985_x,...,0_y,num_25_y,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
1,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,13,0.721060,0.541667,24,4,0.380693,10,0.717282,6,...,115.25,24,20150211,2,0,0,0,105,60,25033.939
2,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,13,0.721060,0.541667,24,4,0.380693,10,0.717282,6,...,115.25,24,20150411,0,0,0,0,136,130,33367.720
3,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,13,0.721060,0.541667,24,4,0.380693,10,0.717282,6,...,115.25,24,20150603,1,0,0,0,139,128,31683.920
4,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,13,0.721060,0.541667,24,4,0.380693,10,0.717282,6,...,115.25,24,20150729,1,0,0,0,106,101,27200.851
5,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,13,0.721060,0.541667,24,4,0.380693,10,0.717282,6,...,115.25,24,20150923,0,0,1,0,104,100,27332.639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9912291,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,6,0.577350,1.500000,4,2,1.000000,1,0.500000,3,...,7.25,4,20161114,2,2,0,0,0,4,241.514
9912292,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,45,14.127397,11.250000,4,9,1.258306,5,0.957427,2,...,7.50,4,20150526,1,2,1,0,4,8,1227.964
9912293,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,45,14.127397,11.250000,4,9,1.258306,5,0.957427,2,...,7.50,4,20151219,32,2,2,0,7,41,2528.733
9912294,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,45,14.127397,11.250000,4,9,1.258306,5,0.957427,2,...,7.50,4,20160714,4,1,2,1,8,16,2125.260
9912295,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,45,14.127397,11.250000,4,9,1.258306,5,0.957427,2,...,7.50,4,20161115,8,4,0,1,11,18,4574.660