# Feature engineering using Transaction and Members Table

In [1]:
import pandas as pd 
import numpy as np 
import pickle

In [2]:
train = pd.read_csv('train.csv')

In [3]:
transaction = pd.read_csv('transactions.csv')

In [4]:
member = pd.read_csv('members_v3.csv')

### Extracting features from Transaction

#### Transaction before Jan,2017

In [5]:
transaction_before_jan17 = transaction[transaction['transaction_date'].le(20161231)]

In [6]:
transaction_before_jan17

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,20150930,20160427,0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,20150930,20151128,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0
...,...,...,...,...,...,...,...,...,...
21547741,6AO1oJjW3YT1adWzyWhzf8hlyjeOuQatudP8FF13UB4=,38,30,149,149,0,20151030,20151129,0
21547742,wkSSJvM8E1hsNmRYE4vlOcR426v0Kd4L2E++Qxgz/bo=,36,30,150,150,0,20160331,20160530,0
21547743,VQ4KpwvezU3dqq6Bkqfjsmt4fn0JDRckkDoFFt0/UqM=,36,30,180,180,0,20161129,20161229,0
21547744,a84q/Ts47Oyyqc1N1WRasBdbgYSF/f3uqBcEAPNemoM=,41,30,99,99,1,20161130,20161231,0
21547745,oE4y2wK5E7OR8zyrCHeW02uTeI6wTwT4QTApEVBNEdM=,41,30,149,0,1,20151029,20151029,1

In [7]:
## Discount Feature 

transaction_before_jan17['discount']= transaction_before_jan17['plan_list_price']-transaction_before_jan17['actual_amount_paid']

C:\Users\Admin\miniconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
a = transaction_before_jan17[transaction_before_jan17['discount']<0]

In [9]:
a.head(-1)

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount
26,WnxdSgeK3Vg4BIaioJQYilnL+E1SDxq+PZIwmmfTwgM=,34,0,0,149,1,20150930,20151031,0,-149
27,ir1jh/vWZ932FpSC2WeMxdOHQ+OkuUo3ZPQs8Ms4J9g=,34,0,0,149,1,20150930,20151031,0,-149
28,wZzIriSMn4Yh2sEU+yyPG+SEE/idQOSQhReC/zQwuXw=,34,0,0,149,1,20150930,20151031,0,-149
29,6takVibQdMIXYkAUF/EhmVUE0Juzl1IzbmG4++BIquY=,34,0,0,149,1,20150930,20151031,0,-149
30,dqg5vCoH2dRqfht4CzVLnQQ1fc4es4cQIXi2REYJYdc=,34,0,0,149,1,20150930,20151031,0,-149
...,...,...,...,...,...,...,...,...,...,...
21546750,YePKYIiILWZm0Z5kHYxa+kn9UeUN+Kb0fGn+m1mJFwQ=,28,0,0,150,0,20150427,20150527,0,-150
21546806,aAoB+bMbfzjS8mbnJFwHhiGgPuFKC5pClL1Ml2UrJSE=,28,0,0,150,0,20150430,20150530,0,-150
21547672,O0YRzwWwQimasNXKtzsPElK315GiMUkcV28tAFNoFzM=,41,0,0,149,1,20150512,20150612,0,-149
21547673,CBxZq6nY9HCrJCTB1cG6tbY5Ripp+Une4qYlFtE9ck4=,41,0,0,119,1,20150512,20150613,0,-119
21547674,lhfPe8cniDeGJLqCBaA+ZHcwvlwgTIXGLiQbVBOTsWY=,37,0,0,149,1,20150513,20150613,0,-149

#### 857421 rows has negative discount, which is not possible so removing those rows

In [10]:
transaction_before_jan17 = transaction_before_jan17[transaction_before_jan17['discount']>-1]

In [11]:
transaction_before_jan17.head(-2)

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,20150930,20160427,0,0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,20150930,20151128,0,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0,0
...,...,...,...,...,...,...,...,...,...,...
21547738,mkEfU0b1pjRXLv1XsxFjMy0wNF9fhh/EgfOLbM+IeKc=,36,30,150,150,0,20150831,20150930,0,0
21547740,tBYKG/I8+BAQ4BTrc0QT67BDurFV1QFJIc/1qhbZXj4=,41,30,99,99,1,20151030,20151130,0,0
21547741,6AO1oJjW3YT1adWzyWhzf8hlyjeOuQatudP8FF13UB4=,38,30,149,149,0,20151030,20151129,0,0
21547742,wkSSJvM8E1hsNmRYE4vlOcR426v0Kd4L2E++Qxgz/bo=,36,30,150,150,0,20160331,20160530,0,0
21547743,VQ4KpwvezU3dqq6Bkqfjsmt4fn0JDRckkDoFFt0/UqM=,36,30,180,180,0,20161129,20161229,0,0

In [12]:
## is_discount : To check weather the discount is given to customer or not 

transaction_before_jan17['is_discount'] = transaction_before_jan17.discount.apply(lambda x:1 if x>0 else 0)
transaction_before_jan17.head(-3)

C:\Users\Admin\miniconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount,is_discount
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0,0,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0,0,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,20150930,20160427,0,0,0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,20150930,20151128,0,0,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
21547737,6FOISKyR4yGktX3n8ao4Lo8aGqS6WD210RN7cRE8wXg=,41,30,149,0,1,20150831,20150904,1,149,1
21547738,mkEfU0b1pjRXLv1XsxFjMy0wNF9fhh/EgfOLbM+IeKc=,36,30,150,150,0,20150831,20150930,0,0,0
21547740,tBYKG/I8+BAQ4BTrc0QT67BDurFV1QFJIc/1qhbZXj4=,41,30,99,99,1,20151030,20151130,0,0,0
21547741,6AO1oJjW3YT1adWzyWhzf8hlyjeOuQatudP8FF13UB4=,38,30,149,149,0,20151030,20151129,0,0,0
21547742,wkSSJvM8E1hsNmRYE4vlOcR426v0Kd4L2E++Qxgz/bo=,36,30,150,150,0,20160331,20160530,0,0,0

In [13]:
### Membership Duration of a customer 

transaction_before_jan17['membership_duration'] = transaction_before_jan17.membership_expire_date - transaction.transaction_date
transaction_before_jan17.head(-3)

C:\Users\Admin\miniconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount,is_discount,membership_duration
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0,0,0,171.0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0,0,0,101.0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,20150930,20160427,0,0,0,9497.0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,20150930,20151128,0,0,0,198.0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0,0,0,191.0
...,...,...,...,...,...,...,...,...,...,...,...,...
21547737,6FOISKyR4yGktX3n8ao4Lo8aGqS6WD210RN7cRE8wXg=,41,30,149,0,1,20150831,20150904,1,149,1,73.0
21547738,mkEfU0b1pjRXLv1XsxFjMy0wNF9fhh/EgfOLbM+IeKc=,36,30,150,150,0,20150831,20150930,0,0,0,99.0
21547740,tBYKG/I8+BAQ4BTrc0QT67BDurFV1QFJIc/1qhbZXj4=,41,30,99,99,1,20151030,20151130,0,0,0,100.0
21547741,6AO1oJjW3YT1adWzyWhzf8hlyjeOuQatudP8FF13UB4=,38,30,149,149,0,20151030,20151129,0,0,0,99.0
21547742,wkSSJvM8E1hsNmRYE4vlOcR426v0Kd4L2E++Qxgz/bo=,36,30,150,150,0,20160331,20160530,0,0,0,199.0

In [14]:
transaction_members = pd.merge(transaction_before_jan17,member,on='msno')

In [15]:
del transaction_before_jan17
del member

In [16]:
transaction_members.head(-2)

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount,is_discount,membership_duration,city,bd,gender,registered_via,registration_init_time
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0,0,0,171.0,1,0,NaN,7,20110629
1,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20151031,20151201,0,0,0,170.0,1,0,NaN,7,20110629
2,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150630,20150801,0,0,0,171.0,1,0,NaN,7,20110629
3,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150228,20150401,0,0,0,173.0,1,0,NaN,7,20110629
4,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20161130,20170101,0,0,0,8971.0,1,0,NaN,7,20110629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16414636,IeDvCreWzlgO8lqKCL8k1+QCvbCRAHFK/jAhtxK9uw4=,35,7,0,0,0,20161029,20161105,0,0,0,76.0,1,29,male,4,20160625
16414637,ON/0c5eeg3wKmtjyvjvCrza8959BpFO0T+5BwP5+duI=,22,395,1599,1599,0,20150818,20160921,0,0,0,10103.0,6,30,male,9,20060305
16414638,jQl+rtRwQMvHJc4jWO+Mj5f5EDvz+m04x7ASAFQ+pzo=,35,7,0,0,0,20161031,20161107,0,0,0,76.0,5,32,female,3,20150818
16414639,mvE2SExeEtdT1RTspjWkjiVuZ+0uQUn3+rC7Hdv39p0=,17,195,0,0,0,20150111,20150114,0,0,0,3.0,13,22,male,3,20150104
16414640,PRHNIlOWhvsop85xkafQu9eXGhJQDXz5+ppqQXGlpa8=,40,30,149,149,1,20161230,20170131,0,0,0,8901.0,5,44,male,9,20140605

In [17]:
## Customer who have auto-renewed and not cancelled 

transaction_members['auto-renew_not_cancel'] = ((transaction_members.is_auto_renew==1)==(transaction_members.is_cancel==0)).astype(np.int8)

In [18]:
transaction_members.head(2)

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount,is_discount,membership_duration,city,bd,gender,registered_via,registration_init_time,auto-renew_not_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0,0,0,171.0,1,0,NaN,7,20110629,1
1,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20151031,20151201,0,0,0,170.0,1,0,NaN,7,20110629,1

In [19]:
## Customer who have not auto_renew_cancel 

transaction_members['not_auto-renew_cancel'] = ((transaction_members.is_auto_renew==0)==(transaction_members.is_cancel==1)).astype(np.int8)

In [20]:
transaction_members.head(-2)

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount,is_discount,membership_duration,city,bd,gender,registered_via,registration_init_time,auto-renew_not_cancel,not_auto-renew_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0,0,0,171.0,1,0,NaN,7,20110629,1,1
1,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20151031,20151201,0,0,0,170.0,1,0,NaN,7,20110629,1,1
2,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150630,20150801,0,0,0,171.0,1,0,NaN,7,20110629,1,1
3,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150228,20150401,0,0,0,173.0,1,0,NaN,7,20110629,1,1
4,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20161130,20170101,0,0,0,8971.0,1,0,NaN,7,20110629,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16414636,IeDvCreWzlgO8lqKCL8k1+QCvbCRAHFK/jAhtxK9uw4=,35,7,0,0,0,20161029,20161105,0,0,0,76.0,1,29,male,4,20160625,0,0
16414637,ON/0c5eeg3wKmtjyvjvCrza8959BpFO0T+5BwP5+duI=,22,395,1599,1599,0,20150818,20160921,0,0,0,10103.0,6,30,male,9,20060305,0,0
16414638,jQl+rtRwQMvHJc4jWO+Mj5f5EDvz+m04x7ASAFQ+pzo=,35,7,0,0,0,20161031,20161107,0,0,0,76.0,5,32,female,3,20150818,0,0
16414639,mvE2SExeEtdT1RTspjWkjiVuZ+0uQUn3+rC7Hdv39p0=,17,195,0,0,0,20150111,20150114,0,0,0,3.0,13,22,male,3,20150104,0,0
16414640,PRHNIlOWhvsop85xkafQu9eXGhJQDXz5+ppqQXGlpa8=,40,30,149,149,1,20161230,20170131,0,0,0,8901.0,5,44,male,9,20140605,1,1

In [22]:
## Finding the counts of How many times a we have a particular customer imformation 
counts_transaction =transaction_members.groupby(['msno'], as_index=False)['actual_amount_paid','payment_plan_days','discount'].count()

C:\Users\Admin\miniconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [23]:
counts_transaction.head(2)

,msno,actual_amount_paid,payment_plan_days,discount
0,+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=,1,1,1
1,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,1,1,1

In [24]:
## Finding the sum for finding the Average Later 
sum_transaction = transaction_members.groupby(['msno'],as_index=False)['actual_amount_paid','payment_plan_days','discount'].sum()

C:\Users\Admin\miniconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [25]:
sum_transaction.head(2)

,msno,actual_amount_paid,payment_plan_days,discount
0,+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=,0,7,0
1,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,1788,410,0

In [27]:
transaction_members[['actual_amount_paid_avg','payment_plan_days_avg','discount_avg']] = sum_transaction[['actual_amount_paid','payment_plan_days','discount']]/counts_transaction[['actual_amount_paid','payment_plan_days','discount']]

In [28]:
transaction_members.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount,...,city,bd,gender,registered_via,registration_init_time,auto-renew_not_cancel,not_auto-renew_cancel,actual_amount_paid_avg,payment_plan_days_avg,discount_avg
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0,0,...,1,0,NaN,7,20110629,1,1,0.0,7.000000,0.0
1,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20151031,20151201,0,0,...,1,0,NaN,7,20110629,1,1,1788.0,410.000000,0.0
2,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150630,20150801,0,0,...,1,0,NaN,7,20110629,1,1,99.0,30.000000,0.0
3,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150228,20150401,0,0,...,1,0,NaN,7,20110629,1,1,149.0,30.176471,0.0
4,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20161130,20170101,0,0,...,1,0,NaN,7,20110629,1,1,149.0,30.000000,0.0

In [30]:
transaction_members = pd.merge(transaction_members,counts_transaction,on='msno')

In [31]:
transaction_members = pd.merge(transaction_members,sum_transaction,on='msno')

In [32]:
transaction_members.head()

,msno,payment_method_id,payment_plan_days_x,plan_list_price,actual_amount_paid_x,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount_x,...,not_auto-renew_cancel,actual_amount_paid_avg,payment_plan_days_avg,discount_avg,actual_amount_paid_y,payment_plan_days_y,discount_y,actual_amount_paid,payment_plan_days,discount
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0,0,...,1,0.0,7.000000,0.0,23,23,23,2967,690,0
1,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20151031,20151201,0,0,...,1,1788.0,410.000000,0.0,23,23,23,2967,690,0
2,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150630,20150801,0,0,...,1,99.0,30.000000,0.0,23,23,23,2967,690,0
3,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150228,20150401,0,0,...,1,149.0,30.176471,0.0,23,23,23,2967,690,0
4,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20161130,20170101,0,0,...,1,149.0,30.000000,0.0,23,23,23,2967,690,0

In [35]:
transaction_members.shape

(16414643, 28)

In [36]:
transaction_members.to_csv('final_transaction_member.csv')