In [83]:
import numpy as np
import pandas as pd
import os

In [84]:
transaction_m_train = pd.read_csv('final_transaction_member.csv',nrows=1000000)

In [85]:
transaction_m_train = transaction_m_train.drop('Unnamed: 0',axis=1)

In [86]:
print(transaction_m_train.shape)

(1000000, 28)

In [87]:
transaction_m_train.columns

Index(['msno', 'payment_method_id', 'payment_plan_days_x', 'plan_list_price',
       'actual_amount_paid_x', 'is_auto_renew', 'transaction_date',
       'membership_expire_date', 'is_cancel', 'discount_x', 'is_discount',
       'membership_duration', 'city', 'bd', 'gender', 'registered_via',
       'registration_init_time', 'auto-renew_not_cancel',
       'not_auto-renew_cancel', 'actual_amount_paid_avg',
       'payment_plan_days_avg', 'discount_avg', 'actual_amount_paid_y',
       'payment_plan_days_y', 'discount_y', 'actual_amount_paid',
       'payment_plan_days', 'discount'],
      dtype='object')

In [88]:
userlog_train = pd.read_csv("final_data_user_logs.csv",nrows=1000000)

In [89]:
userlog_train = userlog_train.drop('Unnamed: 0',axis=1)

In [90]:
print(userlog_train.shape)

(1000000, 31)

In [91]:
userlog_train.columns

Index(['msno', 'num_25_x', 'num_25_y', 'num_25_avg_x', 'num_25_x.1',
       'num_50_x', 'num_50_y', 'num_75_x', 'num_75_y', 'num_985_x',
       'num_985_y', 'num_unq_x', 'num_unq_y', 'total_secs_x', 'total_secs_y',
       '0_x', '0_y', 'num_25_avg_y', '0_x.1', '0_y.1', '0_x.2', '0_y.2',
       'num_25_y.1', 'date', 'num_25', 'num_50', 'num_75', 'num_985',
       'num_100', 'num_unq', 'total_secs'],
      dtype='object')

In [92]:
FINAL_TRAIN = pd.merge(transaction_m_train,userlog_train,on='msno')

In [93]:
FINAL_TRAIN

,msno,payment_method_id,payment_plan_days_x,plan_list_price,actual_amount_paid_x,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount_x,...,0_y.2,num_25_y.1,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,0f9IUy6wP6pEUntXgu9PxCcieo1bNnzj/wxu9yfAZV4=,31,30,149,149,1,20151130,20151231,0,0,...,33.230769,13,20150219,9,2,5,2,35,25,9746.029
1,0f9IUy6wP6pEUntXgu9PxCcieo1bNnzj/wxu9yfAZV4=,31,30,149,149,1,20151130,20151231,0,0,...,33.230769,13,20150417,1,0,0,0,1,2,261.720
2,0f9IUy6wP6pEUntXgu9PxCcieo1bNnzj/wxu9yfAZV4=,31,30,149,149,1,20151130,20151231,0,0,...,33.230769,13,20150619,12,0,2,0,23,23,5935.452
3,0f9IUy6wP6pEUntXgu9PxCcieo1bNnzj/wxu9yfAZV4=,31,30,149,149,1,20151130,20151231,0,0,...,33.230769,13,20150809,11,6,2,1,124,42,34031.187
4,0f9IUy6wP6pEUntXgu9PxCcieo1bNnzj/wxu9yfAZV4=,31,30,149,149,1,20151130,20151231,0,0,...,33.230769,13,20151005,2,2,1,0,15,14,4327.567
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972626,0SH8Qqxce/VYb+l/+fgl6KW0lEvHOcZUMp9LQK4CsYQ=,41,30,149,149,1,20150825,20150926,0,0,...,15.333333,12,20160608,3,2,2,1,8,16,2844.708
972627,0SH8Qqxce/VYb+l/+fgl6KW0lEvHOcZUMp9LQK4CsYQ=,41,30,149,149,1,20150825,20150926,0,0,...,15.333333,12,20160815,0,0,0,0,2,2,493.000
972628,0SH8Qqxce/VYb+l/+fgl6KW0lEvHOcZUMp9LQK4CsYQ=,41,30,149,149,1,20150825,20150926,0,0,...,15.333333,12,20161014,1,0,0,0,1,2,295.522
972629,0SH8Qqxce/VYb+l/+fgl6KW0lEvHOcZUMp9LQK4CsYQ=,41,30,149,149,1,20150825,20150926,0,0,...,15.333333,12,20161220,15,1,1,1,41,50,10442.266
972630,0SH8Qqxce/VYb+l/+fgl6KW0lEvHOcZUMp9LQK4CsYQ=,41,30,149,149,1,20150825,20150926,0,0,...,15.333333,12,20170212,14,4,2,1,18,35,5634.042

In [94]:
FINAL_TRAIN.to_csv('final_train_data.csv')

In [2]:
def featurization_transac(transaction,members):
    
    
    
    
    
    transaction['discount'] = transaction['plan_list_price']-transaction['actual_amount_paid']
    
    transaction = transaction[transaction['discount']>-1]
    
    transaction['is_discount'] = transaction.discount.apply(lambda x:1 if x>0 else 0)
    
    
    
    transaction['membership_duration'] =transaction.membership_expire_date-transaction.transaction_date
    
    transaction = pd.merge(transaction,members,on='msno')
    
    transaction['auto-renew_not_cancel'] = ((transaction.is_auto_renew==1)==(transaction.is_cancel==0)).astype(np.int8)
    
    transaction['not_auto-renew_cancel']=((transaction.is_auto_renew==0)==(transaction.is_cancel==1)).astype(np.int8)
    
    count_trans = transaction.groupby(['msno'],as_index=False)['actual_amount_paid','payment_plan_days','discount'].count()
    
    sum_trans = transaction.groupby(['msno'],as_index=False)['actual_amount_paid','payment_plan_days','discount'].sum()
    
    transaction[['actual_amount_paid_avg','payment_plan_days_avg','discount_avg']] = sum_trans[['actual_amount_paid','payment_plan_days','discount']]/count_trans[['actual_amount_paid','payment_plan_days','discount']]
    
    transaction = pd.merge(transaction,count_trans,on='msno')
    
    transaction = pd.merge(transaction,sum_trans,on='msno')
    
    return transaction

In [3]:
transaction = pd.read_csv('transactions.csv')
member = pd.read_csv('members_v3.csv')

In [4]:
transaction_cv = transaction[transaction['transaction_date'].ge(20161232)]

In [5]:
transaction_m_cv = featurization_transac(transaction_cv,member)

C:\Users\Admin\miniconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Admin\miniconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\Admin\miniconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:25: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [6]:
transaction_m_cv = transaction_m_cv.dropna()

In [7]:
transaction_m_cv.shape

(379600, 28)

In [8]:
    
def featurization_userlog(user_logs):



    
    sum_25 = user_logs.groupby(['msno'])['num_25'].sum()
    sum_50 = user_logs.groupby(['msno'])['num_50'].sum()
    sum_75 = user_logs.groupby(['msno'])['num_75'].sum()
    sum_985 = user_logs.groupby(['msno'])['num_985'].sum()
    sum_100 = user_logs.groupby(['msno'])['num_100'].sum()
    sum_unq = user_logs.groupby(['msno'])['num_unq'].sum()
    sum_sec = user_logs.groupby(['msno'])['total_secs'].sum()
    
    user_log_num_count = user_logs.groupby(['msno'])['num_25'].count()

    
    std_25 = user_logs.groupby(['msno'])['num_25'].std()
    std_50 =user_logs.groupby(['msno'])['num_50'].std()
    std_75 = user_logs.groupby(['msno'])['num_75'].std()
    std_985 = user_logs.groupby(['msno'])['num_985'].std()
    std_100 =user_logs.groupby(['msno'])['num_100'].std()
    std_unq = user_logs.groupby(['msno'])['num_unq'].std()
    std_sec = user_logs.groupby(['msno'])['total_secs'].std()
    
    user_log_num25_avg = sum_25/user_log_num_count 
    user_log_num50_avg = sum_50/user_log_num_count 
    user_log_num75_avg = sum_75/user_log_num_count 
    user_log_num985_avg = sum_985/user_log_num_count 
    user_log_num100_avg = sum_100/user_log_num_count 
    user_log_num_unq_avg = sum_unq/user_log_num_count 
    user_log_total_sec_avg = sum_sec/user_log_num_count 
    
    
    user_log_num25_avg = user_log_num25_avg.to_frame()
    user_log_num25_avg = user_log_num25_avg.rename(columns={'num_25':'num_25_avg'})
    user_log_num50_avg = user_log_num50_avg.to_frame()
    user_log_num50_avg = user_log_num50_avg.rename(columns={'num_50':'num_50_avg'})
    user_log_num75_avg = user_log_num75_avg.to_frame()
    user_log_num75_avg = user_log_num75_avg.rename(columns={'num_75':'num_75_avg'})
    user_log_num985_avg = user_log_num985_avg.to_frame()
    user_log_num985_avg = user_log_num985_avg.rename(columns={'num_985':'num_985_avg'})
    user_log_num100_avg = user_log_num100_avg.to_frame()
    user_log_num100_avg = user_log_num100_avg.rename(columns={'num_100':'num_100_avg'})
    user_log_num_unq_avg = user_log_num_unq_avg.to_frame()
    user_log_num_unq_avg = user_log_num_unq_avg.rename(columns={'num_unq':'num_unq_avg'})
    user_log_total_sec_avg = user_log_total_sec_avg.to_frame()
    user_log_total_sec_avg = user_log_total_sec_avg.rename(columns={'total_sec':'total_sec_avg'})
    

    final_data = pd.merge(sum_25,sum_50,on='msno')
    final_data = pd.merge(final_data,sum_75,on='msno')
    final_data = pd.merge(final_data,sum_985,on='msno')
    final_data = pd.merge(final_data,sum_100,on='msno')
    final_data = pd.merge(final_data,sum_unq,on='msno')
    final_data = pd.merge(final_data,sum_sec,on='msno')
    
    final_data = pd.merge(final_data,std_25,on='msno')
    final_data = pd.merge(final_data,std_50,on='msno')
    final_data = pd.merge(final_data,std_75,on='msno')
    final_data = pd.merge(final_data,std_985,on='msno')
    final_data = pd.merge(final_data,std_100,on='msno')
    final_data = pd.merge(final_data,std_unq,on='msno')
    final_data = pd.merge(final_data,std_sec,on='msno')
    
    final_data = pd.merge(final_data,user_log_num25_avg,on='msno')
    final_data = pd.merge(final_data,user_log_num50_avg,on='msno')
    final_data = pd.merge(final_data,user_log_num75_avg,on='msno')
    final_data = pd.merge(final_data,user_log_num985_avg,on='msno')
    final_data = pd.merge(final_data,user_log_num100_avg,on='msno')
    final_data = pd.merge(final_data,user_log_num_unq_avg,on='msno')
    final_data = pd.merge(final_data,user_log_total_sec_avg,on='msno')
    
    final_data = pd.merge(final_data,user_log_num_count,on='msno')
    
    final_data = pd.merge(final_data,user_logs,on='msno')
    
    

    
    return final_data

In [9]:
user_logs = pd.read_csv('user_logs.csv',nrows=3000000)

In [10]:
user_logs_cv = user_logs[user_logs['date'].ge(20161232)]

In [11]:
user_logs_cv.shape

(259856, 9)

In [12]:
final_user_log_data = featurization_userlog(user_logs_cv)

In [13]:
final_user_log_data.shape

(259856, 31)

In [14]:
final_user_log_data.columns

Index(['msno', 'num_25_x', 'num_50_x', 'num_75_x', 'num_985_x', 'num_100_x',
       'num_unq_x', 'total_secs_x', 'num_25_y', 'num_50_y', 'num_75_y',
       'num_985_y', 'num_100_y', 'num_unq_y', 'total_secs_y', 'num_25_avg',
       '0_x', '0_y', '0_x', '0_y', '0_x', '0_y', 'num_25_x', 'date',
       'num_25_y', 'num_50', 'num_75', 'num_985', 'num_100', 'num_unq',
       'total_secs'],
      dtype='object')

In [15]:
FINAL_CV = pd.merge(transaction_m_cv,final_user_log_data,on='msno')

In [16]:
FINAL_CV

,msno,payment_method_id,payment_plan_days_x,plan_list_price,actual_amount_paid_x,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount_x,...,0_y,num_25_x,date,num_25_y,num_50,num_75,num_985,num_100,num_unq,total_secs
0,KN+2PN479KGApwv0YPOn4BfEP0V035JdMeOHJdcJN9I=,41,30,99,99,1,20170220,20170320,0,0,...,19668.525,1,20170207,10,3,1,2,77,82,19668.525
1,KN+2PN479KGApwv0YPOn4BfEP0V035JdMeOHJdcJN9I=,41,30,99,99,1,20170120,20170220,0,0,...,19668.525,1,20170207,10,3,1,2,77,82,19668.525
2,8kMFt9BIbYJgfdSX5XzdICoTv8Z8NkmONEgCUA1WA88=,36,30,180,180,1,20170221,20170320,0,0,...,7562.645,1,20170124,9,2,4,0,29,39,7562.645
3,8kMFt9BIbYJgfdSX5XzdICoTv8Z8NkmONEgCUA1WA88=,36,30,180,180,1,20170121,20170220,0,0,...,7562.645,1,20170124,9,2,4,0,29,39,7562.645
4,4ByQQFjzA47U+lJ972beNun+W2FWM+uT3DtZi/WxT3c=,36,30,180,180,1,20170119,20170218,0,0,...,1347.237,1,20170107,0,1,0,1,4,5,1347.237
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98552,VtHasudOIq8qGCoyuMYaTxKRWXqISHP7h1VvX+vGA58=,41,30,99,99,1,20170203,20170303,0,0,...,1978.743,1,20170216,32,3,0,2,4,36,1978.743
98553,C8Nfs4jQKDTXcseGtr6kWW+bYRLth+WxmJfAnxyf0Jw=,36,30,180,180,0,20170225,20170327,0,0,...,4221.171,1,20170212,3,1,1,0,17,21,4221.171
98554,C8Nfs4jQKDTXcseGtr6kWW+bYRLth+WxmJfAnxyf0Jw=,36,30,180,180,0,20170125,20170224,0,0,...,4221.171,1,20170212,3,1,1,0,17,21,4221.171
98555,tocH6uYPQ78vQLAyyoEH3DFBDGg12oY2tqhtYH7nOu4=,36,30,180,180,1,20170225,20170324,0,0,...,38765.936,1,20170209,2,1,0,0,146,79,38765.936
98556,tocH6uYPQ78vQLAyyoEH3DFBDGg12oY2tqhtYH7nOu4=,36,30,180,180,1,20170125,20170224,0,0,...,38765.936,1,20170209,2,1,0,0,146,79,38765.936

In [17]:
FINAL_CV.to_csv('final_cv_data.csv')

* Test data

In [31]:
test = pd.read_csv('churn_comp_refresh/train_v2.csv')
transaction_test = pd.read_csv('churn_comp_refresh/transactions_v2.csv')
user_log_test = pd.read_csv('churn_comp_refresh/user_logs_v2.csv',nrows=1000000)

In [32]:
member = pd.read_csv('members_v3.csv')

In [33]:
test_transac_member = featurization_transac(transaction_test,member)

C:\Users\Admin\miniconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Admin\miniconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\Admin\miniconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\Admin\miniconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:25: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [34]:
test_transac_member.shape

(1301013, 28)

In [35]:
test_transac_member = test_transac_member.dropna()

In [36]:
test_transac_member.shape

(561452, 28)

In [37]:
test_userlog = featurization_userlog(user_log_test)

In [38]:
test_userlog.shape

(1000000, 31)

In [39]:
test_userlog = test_userlog.dropna()

In [40]:
test_userlog.shape

(677538, 31)

In [41]:
FINAL_TEST_DATA = pd.merge(test_transac_member,test_userlog,on='msno')

In [42]:
FINAL_TEST_DATA.shape

(401007, 58)

In [43]:
FINAL_TEST_DATA = FINAL_TEST_DATA.dropna()

In [44]:
FINAL_TEST_DATA.shape

(401007, 58)

In [45]:
FINAL_TEST_DATA.to_csv('final_test_data.csv')

###  Model

In [187]:
## Load cv and test data 
FINAL_TRAIN = pd.read_csv('final_train_data.csv')
FINAL_CV = pd.read_csv('final_cv_data.csv')
FINAL_TEST = pd.read_csv('final_test_data.csv')

In [188]:
FINAL_TEST

,Unnamed: 0,msno,payment_method_id,payment_plan_days_x,plan_list_price,actual_amount_paid_x,is_auto_renew,transaction_date,membership_expire_date,is_cancel,...,0_y.2,num_25_x.1,date,num_25_y.1,num_50,num_75,num_985,num_100,num_unq,total_secs
0,0,+50G1jyzn4OzqalwB5LJtY/pN+OytIoB3kaLFiH8eYw=,32,410,1788,1788,0,20160805,20170919,0,...,6104.628667,3,20170329,0,0,0,0,1,1,279.301
1,1,+50G1jyzn4OzqalwB5LJtY/pN+OytIoB3kaLFiH8eYw=,32,410,1788,1788,0,20160805,20170919,0,...,6104.628667,3,20170311,17,4,4,5,60,73,17538.469
2,2,+50G1jyzn4OzqalwB5LJtY/pN+OytIoB3kaLFiH8eYw=,32,410,1788,1788,0,20160805,20170919,0,...,6104.628667,3,20170319,1,0,0,0,2,3,496.116
3,3,+5Yo2rxxC+x+kIYl4to0D1GTrKacKcaGG0sV38NLIn4=,34,30,149,149,1,20170331,20170430,0,...,4083.890000,2,20170330,1,0,1,0,24,22,6788.350
4,4,+5Yo2rxxC+x+kIYl4to0D1GTrKacKcaGG0sV38NLIn4=,34,30,149,149,1,20170331,20170430,0,...,4083.890000,2,20170315,2,4,0,0,4,8,1379.430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401002,401002,vP0n3BnE7XAVu3EHz2oGjnY6HAIm1oQKClnvmIFnm/4=,36,30,180,180,0,20170324,20170423,0,...,2049.870750,4,20170303,22,6,0,1,6,34,2414.103
401003,401003,vP0n3BnE7XAVu3EHz2oGjnY6HAIm1oQKClnvmIFnm/4=,36,30,180,180,0,20170324,20170423,0,...,2049.870750,4,20170326,2,0,1,0,5,8,1217.303
401004,401004,vP0n3BnE7XAVu3EHz2oGjnY6HAIm1oQKClnvmIFnm/4=,36,30,180,180,0,20170324,20170423,0,...,2049.870750,4,20170316,4,2,1,1,13,17,3740.806
401005,401005,vPcdwToeZP5sYLJ7zG1Zagg+mbmOoHDZuQOu0r0QM9g=,38,30,149,149,0,20170330,20170429,0,...,6928.824000,2,20170303,5,2,0,0,29,35,6606.743
401006,401006,vPcdwToeZP5sYLJ7zG1Zagg+mbmOoHDZuQOu0r0QM9g=,38,30,149,149,0,20170330,20170429,0,...,6928.824000,2,20170308,2,1,1,4,25,32,7250.905

In [189]:
FINAL_CV = FINAL_CV.dropna()
FINAL_TEST = FINAL_TEST.dropna()

In [190]:
##### Load id's 

train_id = pd.read_csv('train.csv')
test_id = pd.read_csv('churn_comp_refresh/train_v2.csv')

In [191]:
### Combine id's 

FINAL_TRAIN = pd.merge(FINAL_TRAIN,train_id,on='msno')
FINAL_CV = pd.merge(FINAL_CV,train_id,on='msno')
FINAL_TEST = pd.merge(FINAL_TEST,test_id,on='msno')

In [126]:
print(FINAL_TRAIN.shape,FINAL_CV.shape,FINAL_TEST.shape)

(838276, 60) (7454, 60) (284523, 60)

In [127]:
FINAL_TRAIN= FINAL_TRAIN.drop('Unnamed: 0',axis=1)
FINAL_CV = FINAL_CV.drop('Unnamed: 0',axis=1)
FINAL_TEST = FINAL_TEST.drop('Unnamed: 0',axis=1)

In [128]:
print(FINAL_TRAIN.shape,FINAL_CV.shape,FINAL_TEST.shape)

(838276, 59) (7454, 59) (284523, 59)

In [129]:
FINAL_TRAIN = FINAL_TRAIN.drop(['msno','gender'],axis=1)
FINAL_CV = FINAL_CV.drop(['msno','gender'],axis=1)
FINAL_TEST = FINAL_TEST.drop(['msno','gender'],axis=1)

In [130]:
def normalize(data):
    for column in data.columns:
        max_val = data[column].max()
        min_val = data[column].min()
        deno = max_val-min_val
        if deno!=0:
            data[column]= (data[column]-min_val/max_val-min_val)
    return data 

FINAL_TRAIN = normalize(FINAL_TRAIN) 
FINAL_CV = normalize(FINAL_CV)
FINAL_TEST = normalize(FINAL_TEST)

In [131]:
FINAL_TRAIN

,payment_method_id,payment_plan_days_x,plan_list_price,actual_amount_paid_x,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount_x,is_discount,...,num_25_y.1,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs,is_churn
0,22.804878,30.0,149.0,149.0,1.0,1028.000552,451129.023313,0.0,0.0,0.0,...,10.933333,117.000998,9.0,2.0,5.0,2.0,35.0,23.997988,9.223427e+15,0.0
1,22.804878,30.0,149.0,149.0,1.0,1028.000552,451129.023313,0.0,0.0,0.0,...,10.933333,315.000998,1.0,0.0,0.0,0.0,1.0,0.997988,9.223427e+15,0.0
2,22.804878,30.0,149.0,149.0,1.0,1028.000552,451129.023313,0.0,0.0,0.0,...,10.933333,517.000998,12.0,0.0,2.0,0.0,23.0,21.997988,9.223427e+15,0.0
3,22.804878,30.0,149.0,149.0,1.0,1028.000552,451129.023313,0.0,0.0,0.0,...,10.933333,707.000998,11.0,6.0,2.0,1.0,124.0,40.997988,9.223427e+15,0.0
4,22.804878,30.0,149.0,149.0,1.0,1028.000552,451129.023313,0.0,0.0,0.0,...,10.933333,903.000998,2.0,2.0,1.0,0.0,15.0,12.997988,9.223427e+15,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838271,32.804878,30.0,149.0,149.0,1.0,723.000552,450824.023313,0.0,0.0,0.0,...,9.933333,10506.000998,3.0,2.0,2.0,1.0,8.0,14.997988,9.223427e+15,0.0
838272,32.804878,30.0,149.0,149.0,1.0,723.000552,450824.023313,0.0,0.0,0.0,...,9.933333,10713.000998,0.0,0.0,0.0,0.0,2.0,0.997988,9.223427e+15,0.0
838273,32.804878,30.0,149.0,149.0,1.0,723.000552,450824.023313,0.0,0.0,0.0,...,9.933333,10912.000998,1.0,0.0,0.0,0.0,1.0,0.997988,9.223427e+15,0.0
838274,32.804878,30.0,149.0,149.0,1.0,723.000552,450824.023313,0.0,0.0,0.0,...,9.933333,11118.000998,15.0,1.0,1.0,1.0,41.0,48.997988,9.223427e+15,0.0
838275,32.804878,30.0,149.0,149.0,1.0,723.000552,450824.023313,0.0,0.0,0.0,...,9.933333,20110.000998,14.0,4.0,2.0,1.0,18.0,33.997988,9.223427e+15,0.0

In [144]:
### X_train,X_test
X_train = FINAL_TRAIN.drop('is_churn',axis=1).values
Y_train = FINAL_TRAIN['is_churn'].values
print(X_train.shape,Y_train.shape)

### X _cv and Y_cv
X_cv = FINAL_CV.drop('is_churn',axis=1).values
Y_cv = FINAL_CV['is_churn'].values
print(X_cv.shape,Y_cv.shape)

### X_test and Y_test
X_test = FINAL_TEST.drop('is_churn',axis=1).values
Y_test = FINAL_TEST['is_churn'].values
print(X_test.shape,Y_test.shape)

(838276, 56) (838276,)
(7454, 56) (7454,)
(284523, 56) (284523,)

In [145]:
from sklearn import preprocessing
scaler  = preprocessing.StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)
X_cv = scaler.transform(X_cv)

In [149]:
type(X_train)

numpy.ndarray

###  Logistic Regression

In [160]:
from sklearn.metrics import log_loss
from sklearn.linear_model import SGDClassifier

model1 = SGDClassifier(max_iter=10000,tol=1e-3,loss='log')
model1.fit(X_train,Y_train)
log_loss(Y_cv,model1.predict(X_cv))

1.0193896977301256

###  Random Forest Classifier

In [167]:
%%time
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
param = {'n_estimators':[50,100,300,500,1000,2000]}

model2 = RandomForestClassifier()
search_model = RandomizedSearchCV(model2,param,n_jobs=-1)
search_model.fit(X_train,Y_train)

C:\Users\Admin\miniconda3\envs\tensorflow\lib\site-packages\sklearn\model_selection\_search.py:282: UserWarning: The total space of parameters 6 is smaller than n_iter=10. Running 6 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)

Wall time: 4h 10min 47s

RandomizedSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
                   param_distributions={'n_estimators': [50, 100, 300, 500,
                                                         1000, 2000]})

In [168]:
search_model.best_estimator_

RandomForestClassifier(n_estimators=2000)

In [171]:
best_model = RandomForestClassifier(n_estimators=2000)
best_model.fit(X_train,Y_train)

RandomForestClassifier(n_estimators=2000)

In [172]:
import pickle
model_name = 'Randomforest_model.sav'
pickle.dump(best_model,open(model_name,'wb'))

In [174]:
load_RandomForest = pickle.load(open(model_name,'rb'))

In [175]:
y_pred = load_RandomForest.predict(X_cv)

In [176]:
log_loss(Y_cv,y_pred)

1.0286570913422375

In [178]:
Y_test_pred = load_RandomForest.predict(X_test)

In [179]:
log_loss(Y_test,Y_test_pred)

4.20477128655646

In [180]:
test_id

                                                msno  is_churn
0       ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=         1
1       f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=         1
2       zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=         1
3       8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=         1
4       K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=         1
...                                              ...       ...
970955  OHnZbu+EVaP+vN7Z+OfT5OMcp90MWFZonmM0o3pb8FY=         0
970956  S92bDK//uI6hk3u1vuApro0qJBQOToBozZ7lL1yTC+w=         0
970957  eUa3xo16vpAjr43Cjlb6Kjf1NTILYyJIkBayJQdXWnw=         0
970958  iZE41tbAQ65rJq60olkJT4BJzuUAYgQdfbEemXe/TTk=         0
970959  oECkzJik4wKsbOEVY6UACLbmgM8qymFdb5cJaHrodY8=         0

[970960 rows x 2 columns]

In [200]:
Submission = pd.DataFrame()
Submission['msno'] = FINAL_TEST['msno']
Submission['is_churn'] = Y_test_pred

In [202]:
Submission['is_churn'] = Submission['is_churn'].astype('int')

In [203]:
Submission

                                                msno  is_churn
0       +5Yo2rxxC+x+kIYl4to0D1GTrKacKcaGG0sV38NLIn4=         0
1       +5Yo2rxxC+x+kIYl4to0D1GTrKacKcaGG0sV38NLIn4=         0
2       +8Tt06N7mWIpAtWY9CH9Q2UbNCyepYpd7K9aLjP3MLQ=         0
3       +8Tt06N7mWIpAtWY9CH9Q2UbNCyepYpd7K9aLjP3MLQ=         0
4       +8Tt06N7mWIpAtWY9CH9Q2UbNCyepYpd7K9aLjP3MLQ=         0
...                                              ...       ...
284518  vP0n3BnE7XAVu3EHz2oGjnY6HAIm1oQKClnvmIFnm/4=         0
284519  vP0n3BnE7XAVu3EHz2oGjnY6HAIm1oQKClnvmIFnm/4=         0
284520  vP0n3BnE7XAVu3EHz2oGjnY6HAIm1oQKClnvmIFnm/4=         0
284521  vPcdwToeZP5sYLJ7zG1Zagg+mbmOoHDZuQOu0r0QM9g=         0
284522  vPcdwToeZP5sYLJ7zG1Zagg+mbmOoHDZuQOu0r0QM9g=         0

[284523 rows x 2 columns]

In [205]:
Submission.to_csv('Submission.csv',index=False)